.container {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  pointer-events: none;
  z-index: 100000;
  padding: 0 1rem;
  gap: 0.5rem;
}

.menuLeft {
  display: flex;
  justify-content: flex-end;
  pointer-events: auto;
  gap: 0.5rem;
}

.dockWrapper {
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.menuRight {
  display: flex;
  justify-content: flex-start;
  pointer-events: auto;
  gap: 0.5rem;
}

.dock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 1px solid rgba(145, 145, 145, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(8px);
}

.catIcon {
  font-size: 0.7rem;
  white-space: pre;
  line-height: 1;
  font-family: monospace;
  color: black;
}

.launcher {
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.2s, width 0.2s ease;
  flex-shrink: 0;
  max-width: 50px;
  width: auto;
}

.launcher:active {
  cursor: grabbing;
}

.folderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.folderMenuPortal {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(-50%) translateY(10px);
  opacity: 1;
  pointer-events: none;
  border-radius: 1rem;
  padding: 0.5rem;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-out;
  white-space: nowrap;
  max-width: 40px;
  z-index: 99999;
  border: 1px solid rgba(145, 145, 145, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.folderMenuPortalVisible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}

.folderLabel {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #1f2937;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  background-color: rgb(229, 229, 229);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.menuContentBase {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease, transform 0.2s ease;
  border: 1px solid rgba(145, 145, 145, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 45vw;
  padding: 0.25rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.menuContentBase::-webkit-scrollbar-track,
.menuContentBase *::-webkit-scrollbar-track {
  background: transparent;
}

.menuContentBase::-webkit-scrollbar-thumb,
.menuContentBase *::-webkit-scrollbar-thumb {
  background-color: #10b981;
  border-radius: 6px;
}

.menuContentBase::-webkit-scrollbar-thumb:hover,
.menuContentBase *::-webkit-scrollbar-thumb:hover {
  background-color: #059669;
}

.menuContentBase>* {
  flex-shrink: 0;
}

.menuContentBase::-webkit-scrollbar {
  height: 4px;
}

.menuContentBase::-webkit-scrollbar-track {
  background: transparent;
}

.menuContentBase::-webkit-scrollbar-thumb {
  background-color: #65fdb9;
  border-radius: 999px;
}

.menuContentBase::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.menuContentRight {
  composes: menuContentBase;
  transform: translateX(-20px);
}

.menuOpen .menuContentRight {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.menuClosed .menuContentRight {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.menuContentLeft {
  composes: menuContentBase;
  transform: translateX(20px);
}

.menuOpen .menuContentLeft {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.menuClosed .menuContentLeft {
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .dock {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .launcher {
    background-color: rgba(30, 30, 30, 0.8);
  }

  .folderMenuPortal {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .folderLabel {
    color: #e5e7eb;
    background-color: rgb(31, 41, 55);
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.4);
  }

  .menuContentBase {
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  }

  .catIcon {
    color: rgb(255, 255, 255);
  }
}